<div class="mainContainer">

    <div class="header">
        <div class="header-title">Nueva planta</div>
        <button class="header-btn-close" (click)="closeModal()">
            <i class="fa-times"><fa-icon [icon]="fatimes"></fa-icon></i>
        </button>
    </div>

    <form [formGroup]="dataForm" (ngSubmit)="submit()">
        <div class="formContainer">
            <div class="photoContainer">
                <div class="add-new-photo" id="add-photo" (click)="triggerFileInput()">
                    <span *ngIf="!selectedImage" class="camera-icon">
                        <fa-icon [icon]="faCamera"></fa-icon>
                    </span>
                    <img *ngIf="selectedImage" [src]="selectedImage" alt="Preview" class="preview-image">
                </div>
                <input type="file" (change)="previewImage($event)" id="add-new-photo" name="images[]"
                    style="display: none;" required>
            </div>
            <div class="formData">
                <div class="form-group">
                    <!-- <label for="code">Código:</label> -->
                    <input type="text" formControlName="code" id="code" name="code" placeholder="Código" required>
                </div>
                <div class="form-group">
                    <!-- <label for="state">Estado:</label> -->
                    <input type="text" formControlName="state" id="state" name="state" placeholder="Estado" required>
                </div>
                <div class="form-group">
                    <!-- <label for="food">Alimentación:</label> -->
                    <input type="text" formControlName="food" id="food" name="food" placeholder="Alimentación" required>
                </div>
                <div class="form-group">
                    <!-- <label for="arrivalDate">Fecha de lleagda:</label> -->
                    <input type="date" formControlName="arrivalDate" id="arrivalDate" name="arrivalDate" placeholder="Fecha de lleagda" required>
                </div>
                <div class="actionButtonsClass">
                    <button type="submit" >Guardar</button>
                    <button class="close-btn" type="reset" (click)="closeModal()">
                        <!-- <i class="sidenav-link-icon"><fa-icon [icon]="faPlus" ></fa-icon></i> -->
                        <span>Cancelar</span>
                    </button>

                    <!-- <p-button label="Guardar" (onClick)="closeDialog()" />
                    <p-button label="Cancelar" (onClick)="closeDialog()" /> -->
                </div>
            </div>
            

        </div>

    </form>
    <div>

    </div>
</div>