<div class="mainContainer">

    <div class="header">
        <div class="header-title">Añadir nueva planta</div>
        <button class="header-btn-close" (click)="closeModal()">
            <i class="fa-times"><fa-icon [icon]="fatimes"></fa-icon></i>
        </button>
    </div>

    <form [formGroup]="dataForm" (ngSubmit)="submit()">
        <div class="formContainer">
            <div class="photoContainer">
                <div class="add-new-photo" id="add-photo" (click)="triggerFileInput()">
                    <span *ngIf="!selectedImage" class="camera-icon">
                        <fa-icon [icon]="faCamera"></fa-icon>
                    </span>
                    <img *ngIf="selectedImage" [src]="selectedImage" alt="Preview" class="preview-image">
                </div>
                <input type="file" (change)="previewImage($event)" id="add-new-photo" name="images[]"
                    style="display: none;" required>
            </div>
            <div class="formData">
                <div class="form-group">
                    <label for="code">Código:</label>
                    <input type="text" formControlName="code" id="data1" name="data1" required>
                </div>
                <div class="form-group">
                    <label for="state">Estado:</label>
                    <input type="text" formControlName="state" id="state" name="state" required>
                </div>
                <div class="form-group">
                    <label for="food">Alimentación:</label>
                    <input type="text" formControlName="food" id="food" name="food" required>
                </div>
                <div class="form-group">
                    <label for="arrivalDate">Fecha de lleagda:</label>
                    <input type="date" formControlName="arrivalDate" id="arrivalDate" name="arrivalDate" required>
                </div>
                <div class="actionButtonsClass">
                    <button type="submit">Enviar</button>
                    <p-button label="Guardar" (onClick)="closeDialog()" />
                    <p-button label="Cancelar" (onClick)="closeDialog()" />
                </div>
            </div>
            

        </div>

    </form>
    <div>

    </div>
</div>