.mainContainer {
    width: 30.5rem;
    height: 60vh;
    /* padding: 1.5rem; */
    background: #7cce90;
    border-radius: 5%;
    box-shadow: 0.063rem 0 1.25rem 0 #137428;
    overflow: hidden;

    .header {
        display: flex;
        text-align: center;
        width: 100%;
        padding: 0.538rem 0.838rem 0 0.138rem;
        background-color: #fff;

        .header-title {
            margin-left: 1.5rem;
            font-size: 20px;
            font-weight: 500;
            color: #000000;
        }

        .header-btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-times {
                color: #000000;
                font-size: 24px;
            }
        }
    }

    .formContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.938rem 0.938rem 0 0.938rem;
        text-align: center;

        .photoContainer {
            margin: 10px;
            .add-new-photo {
                display: flex;
                cursor: pointer;
                justify-content: center;
                width: 150px;
                height: 45vh;
                background-color: #fff;
                border-radius: 10%;
                margin: .5rem;
                align-items: center;
                border: 3px dashed #ccc;
                padding: 10px;
                box-sizing: border-box;

                .camera-icon {
                    background-color: transparent;
                    font-size: 24px;
                }
                .preview-image {
                    width: 150px;
                    /* height: 20vh; */
                    object-fit: cover;
                    border-radius: 10%;
                }
            }
        }
        .formData {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 150px;
            height: 45vh;
            margin: 10px;
        }


    }

}