<!-- <p-button (onClick)="showDialog()" label="Show" /> -->
 <div>
    <div class="sidebar">
        <app-sidebar (onToggleSideNav)="onToggleSideNav($event)" (actionSelected)="actionSelected($event)"></app-sidebar>
    </div>
    <div class="topbar" [ngClass]="topbarStyle">
        <app-topbar (actionSelected)="actionSelected($event)"></app-topbar>
    </div>
    <div class="bodyContainer" [ngClass]="specialStyleClass">

        <div class="tableContainer">
            <p-table [value]="products" [tableStyle]="{'background-color': '#171627'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="tableStyle">Codigo</th>
                        <th class="tableStyle">Estado</th>
                        <th class="tableStyle">Alimentación</th>
                        <th class="tableStyle">Edad</th>
                        <th class="tableStyle">Acciones</th>
                        <!-- <th>Fecha de llegada</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td class="tableStyle">{{ product.code }}</td>
                        <td class="tableStyle">{{ product.state }}</td>
                        <td class="tableStyle">{{ product.alimentation }}</td>
                        <td class="tableStyle">{{ product.edad }}</td>
                        <td class="tableStyle">
                            <div class="more-button">
                                <button class=" more-btn" >
                                    <i class="sidenav-link-icon"><fa-icon [icon]="faEye" ></fa-icon></i>
                                    <span class="sidenav-link-text">Ver más</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
       

        <div class="mainContent">
            <ul>
                <li *ngFor="let item of dataService.items | async">
                    {{item.data1}}
                </li>
            </ul>
            <div class="images">
                <div *ngFor="let image of dataService.allImages; let i = index">
                    <img [src]="image" alt="Image {{i + 1}}" width="200">
                    <p>Image URL: {{image}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <!-- <p-dialog [modal]="true" [(visible)]="visible" >
            <app-register-plants-form> </app-register-plants-form>
        </p-dialog> -->
        <div class="card flex justify-content-center">
            <!-- <p-button (onClick)="showDialog()" icon="pi pi-user" label="Login" /> -->
            <p-dialog [modal]="true" [(visible)]="visible">
                <ng-template pTemplate="headless">
                    <app-register-plants-form (onIsVisible)="onIsVisible($event)"> </app-register-plants-form>
                </ng-template>
            </p-dialog>
          </div>
          
    </div>
 </div>

