<!-- <p-button (onClick)="showDialog()" label="Show" /> -->
 <div>
    <div class="sidebar">
        <app-sidebar (onToggleSideNav)="onToggleSideNav($event)" (actionSelected)="actionSelected($event)"></app-sidebar>
    </div>
    <div class="topbar" [ngClass]="topbarStyle">
        <app-topbar (actionSelected)="actionSelected($event)"></app-topbar>
    </div>
    <div class="bodyContainer" [ngClass]="specialStyleClass">

       

        <div class="mainContent">
            <ul>
                <li *ngFor="let item of dataService.items | async">
                    {{item.data1}}
                </li>
            </ul>
            <div class="images">
                <div *ngFor="let image of dataService.allImages; let i = index">
                    <img [src]="image" alt="Image {{i + 1}}" width="200">
                    <p>Image URL: {{image}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <!-- <p-dialog [modal]="true" [(visible)]="visible" >
            <app-register-plants-form> </app-register-plants-form>
        </p-dialog> -->
        <div class="card flex justify-content-center">
            <!-- <p-button (onClick)="showDialog()" icon="pi pi-user" label="Login" /> -->
            <p-dialog [modal]="true" [(visible)]="visible">
                <ng-template pTemplate="headless">
                    <app-register-plants-form (onIsVisible)="onIsVisible($event)"> </app-register-plants-form>
                </ng-template>
            </p-dialog>
          </div>
          
    </div>
 </div>

